@page "/"

<PageTitle>Index</PageTitle>

<div class="row mt-3 justify-content-center">
    <div class="col-12">
        <h1 class="text-center">Zeiterfassung</h1>
    </div>
    <div class="col-12 col-md-5 col-xl-4 col-xxl-3">

        <div class=" d-grid gap-2">
            <button class="btn btn-outline-primary">Arbeitsanfang</button>
            <button class="btn btn-outline-primary">Pausenanfang</button>
            <button class="btn btn-outline-primary">Pausenende</button>
            <button class="btn btn-outline-primary">Arbeitsende</button>
        </div>
        <hr />
        <div class=" d-grid gap-2">
            <button class="btn btn-outline-secondary">Nachtrag</button>
        </div>
    </div>
    <div class="col-12 col-md-5 col-xl-4 col-xxl-3">

        @foreach (var state in _state)
        {
            <hr class="my-2" />
            <div>
                <i class="bi bi-pencil-square"></i> @state.At.LocalDateTime.ToString("HH:mm") @state.Type
            </div>

        }
    </div>
</div>

@code
{
    public class State
    {
        public string Type { get; set; } = "Kommt";
        public DateTimeOffset At { get; set; }
    }

    private List<State> _state = new List<State>() {
        new State { At = DateTimeOffset.Now },
        new State { At = DateTimeOffset.Now, Type = "Pausenanfang" },
        new State { At = DateTimeOffset.Now, Type = "Pausenende"}

    };

}