<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    <title>TimeKeeping.Web</title>
    <base href="@Url.Content("~/")" />
    
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="icon-192.png" />

    @RenderSection("Headers", true)
    @RenderSection("Scripts", true)
</head>

<body>
    @RenderBody()
</body>
</html>
