@{
    Layout = "_LayoutBase";
}

@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="~/">TimeKeeping.Web.Server</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                @{
                    var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                }
                @if (result.Success)
                {
                    await Html.RenderPartialAsync("_LoginPartial");
                }
                else
                {
                    throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                    "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                    $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                }
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <partial name="_CookieConsentPartial" optional />
    <main role="main" class="pb-1">
        @RenderBody()
    </main>
</div>
<footer class="footer border-top pl-3 text-muted">
    <div class="container">
        &copy; 2023 - TimeKeeping.Web.Server
        @{
            var foundPrivacy = Url.Page("/Privacy", new { area = "" });
        }
        @if (foundPrivacy != null)
        {
            <a asp-area="" asp-page="/Privacy">Privacy</a>
        }
    </div>
</footer>
